form {
    display: grid;
    max-width: 50em;
}

form label {
    grid-column: 1;
}

form input {
    grid-column: 2;
}

form .error {
    border-color: red;
}

form button {
    grid-column: 1 / 3;
}

form .error-message {
    grid-column: 1 / 3;
}