nav {
    display: grid;
    grid-template-columns: 1fr 2em;
    grid-template-rows: 3em 1fr;
}

/* Logo/Name on the left */
nav span {
    background-color: red;
    grid-column: 1;
    grid-row: 1;
    font-size: 2em;
    padding: 0rem 1rem;
}

/* Checkbox for expanding the navigation menu */
nav input {
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
}

nav ul {
    background-color: yellow;
    grid-column: 1 / 3;
    grid-row: 2;
}

nav ul li {
    background-color: orange;
}

nav ul li a {
    text-decoration: none;
    /* Don't underline links */
    padding: 0rem 1rem;
    font-size: 1.5em;
}

/* Show navigation menu entries when checkbox is clicked */
nav input:checked+ul {
    display: block;
}

/* Hide the navigation menu entries otherwise */
nav ul {
    display: none;
}