{{#>main}}
<div>
    {{#each projects}}
    {{#if error}}
    <div>ERROR OCURRED: {{error_message}}</div>
    {{else}}
    title: {{title}} <br />
    description: {{description}} <br />
    <br />
    {{/if}}
    {{/each}}
</div>
{{/main}}