{{#> main page_title="Internal Server Error" }}
<h1 class="center">Internal Server Error</h1>

Es ist ein interner Fehler aufgetreten! Bitte melde diesen an die Serveradministratoren. Ihnen können folgende
Informationen helfen:<br />

Request-ID: {{ request_id }}<br />
Fehler: {{ error }}<br />

{{/main}}