cargo-features = ["edition2024"]

[package]
name = "perfect-group-allocation"
edition.workspace = true
version.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
futures-util = "0.3"
good_lp = { default-features = false, version = "1", features = [ "coin_cbc" ] }
itertools = { default-features = false, version = "0.12", features = [ "use_alloc", "use_std" ] }
tokio = { version = "1", features = ["full"] }
log = { version = "0.4", features = ["release_max_level_off"] }
axum = { version = "0.7", features = [ "http2", "macros", "multipart", "tracing" ] }
axum-server = { version = "0.6", features = ["tls-rustls"] }
tokio-rustls = "0.25"
hyper = { version = "1", features = ["full"] }
tower = { version = "0.4", features = ["full"] }
tower-http = { version = "0.5", features = ["full"] }
http-body = "1"
tokio-util = { version = "0.7", features = ["io"] }
anyhow = "1"
sqlx = "0.7"
serde_json = "1"
serde = { version = "1", features = ["derive"] }
axum-extra = { version = "0.9", features = ["cookie", "cookie-private", "cookie-signed", "typed-header"] }
rand = "0.8"
lightningcss = "1.0.0-alpha.49"
parcel_sourcemap = "2"
thiserror = "1"
openidconnect = "3"
oauth2 = "4"
reqwest = { version = "0.11", features = ["json"] }
once_cell = "1"
chrono = "0.4"
miniserde = "0.1"
http = "1"
console-subscriber = "0.2"
tokio-metrics = { version = "0.3" }
zero-cost-templating = { git = "https://github.com/mohe2015/zero-cost-templating.git" }
bytes = "1"
pin-project = "1"
crossbeam = "0.8"
hyper-util = "0.1"
http-body-util = "0.1.0"

# https://github.com/open-telemetry/opentelemetry-rust/pull/1410
opentelemetry = { version = "0.21", features = ["metrics"] }
opentelemetry_sdk = { version = "0.21", features = ["metrics", "rt-tokio"] }
opentelemetry-otlp = { version = "0.14", features = ["metrics", "http-proto", "reqwest-client", "logs"] }
opentelemetry-semantic-conventions = { version = "0.13" }
opentelemetry-appender-log = { version = "0.2" }
opentelemetry-appender-tracing = { version = "0.2" }
tracing = "0.1"
tracing-opentelemetry = { version = "0.22" }
tracing-subscriber = "0.3"
